body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.container {
  margin-top: 80px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}