body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.container {
  margin-top: 80px;
}

.upload-btn {
  background: #ff9800;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
