body {
  background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
  color: white;
}

.container {
  margin-top: 80px;
}

.upload-btn {
  background: #ff9800;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
let score = Math.floor(Math.random() * 10) + 1;

let message = "";

if (score <= 3) message = "You need groceries badly 😭";
else if (score <= 7) message = "You can survive a few meals 🍳";
else message = "Your fridge is elite 🔥";

document.getElementById("result").innerHTML +=
  "<br><br>😂 Fridge Score: " + score + "/10 — " + message;
